:root {

    --header-height: 3rem;
    --cell-size: 10px;
    --almost-white: #f4f4f4;
    --dark: #353c52;

    --color1 : #BF2C62;
    --color2 : #F6E2DF; 
    --color3 : #F2A007; 
    --color4 : #D95407; 
    --color5 : #1E5693;

}

/* --- themes --- */



* {
    box-sizing: border-box;
}

body {

    margin: 0;

}

svg {

    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: olivedrab;
    border: 2px solid tomato;

}

/* --- tiles --- */

rect[data-color] { 
    
    stroke : black;
    transform-origin: center center;
    transition : transform .25s;
    fill-opacity: .6;

}

rect[data-color="color1"] { fill : var(--color1); }
rect[data-color="color2"] { fill : var(--color2); }
rect[data-color="color3"] { fill : var(--color3); }
rect[data-color="color4"] { fill : var(--color4); }
rect[data-color="color5"] { fill : var(--color5); }