:root {

    --header-height: 3rem;
    --cell-size: 10px;

}


* {
    box-sizing: border-box;
}

body {

    --first-color: hsl(200, 80%, 30%);
    --second-color: hsl(210, 69%, 43%);

    margin: 0;

    background-color: #333;
    /*background-image: radial-gradient(var(--first-color), var(--second-color));*/
    height: 100vh; /* so the gradient fills the screen */

    color: #333;

    /*animation: gradient 1s infinite;*/

}

header, footer {

    margin: 0 2rem;
    height: var(--header-height);
    color: whitesmoke;
    font-size: 12px;

}

header nav {
    height: 100%;
}

header ul {

    display: flex;
    height: 100%;
    flex-direction: row;
    margin: 0;
    align-items: center;
    justify-content: space-around;


}

footer {

    display: flex;
    align-items: center;

}

.grid-container {

    height: calc(8 * var(--cell-size));
    outline: 1px solid tomato;
    background: /*repeating-linear-gradient(to right,  #333, #333 20px, white 20px, white 40px);*/
                linear-gradient(to right, cyan, orange, hotpink);

    display: flex;

}

main {

    margin: 0 2rem;
    background-color: #f4f4f4;
    height: calc(100vh - 2 * var(--header-height));
    padding: 2rem;
    border-radius: 0 5rem 0 0;

}

h1 {

    max-width: 300px;

}

@keyframes gradient {

    from {

        --first-color: hsl(200, 80%, 30%);
        --second-color: hsl(210, 80%, 20%);

    }

    to {

        --second-color: hsl(200, 80%, 30%);
        --first-color: hsl(210, 80%, 20%);

    }
    
}

/* GRID CELLS */

.grid-container {

}

.grid--letter {

    display: flex;
    flex-wrap: wrap;
    width: calc( 8 * var(--cell-size));
    outline: 1px solid lavender;

}

.grid--cell {


    height: 8px;
    width: 8px;
    border: 1px solid black;
    flex-shrink: 0;

}

.phrase0 {

    background-color : rebeccapurple;

}