* {
    box-sizing: border-box;
}

body {
    background-color: black;
}

canvas {
    width: 90vmin;
    height: 90vmin;
}

.container-canvas {

    display: grid;
    place-items: center;
    height: 100vh;

}